@using BusinessObject
@model Product
@{
    ViewBag.Title = "Create Product";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form method="post">
    <div class="border">
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <input asp-for="CategoryId" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="ProductName"></label>
            <input asp-for="ProductName" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UnitPrice"></label>
            <input asp-for="UnitPrice" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="UnitsInStock"></label>
            <input asp-for="UnitsInStock" class="form-control"/>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <a asp-action="Index">Back to List</a>
</form>